/*GLOBAL SETTINGS*/

* {
	box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}


/*GRID SETTINGS*/

.grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  grid-template-areas: 
    "header" 
    "nav" 
    "main";
}


/*HEADER*/

header {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: space-between;
  grid-area: header;
  background-color: #444140;
}

header h1 {
  width: 100%;
  text-align: center;
}

header h1 > span {
  font-weight: 100;
}

.bell {
  text-align: right;
  width: 35%;
  padding-right: 15px;
  border-right: solid 3px #1e1e24;
}

.bell svg {
  height: 35px;
}

.member-main {
  display: flex;
  align-items: center;
  width: 65%;
}

.member-main img {
  border-radius: 50%;
  margin: 0 10px;
  height: 50px;
}


/*NAV*/

nav {
  display: flex;
  background-color: #1e1e24;
  grid-area: nav;
}

nav a {
  margin: 10px auto;
  height: 30px;
}

nav a:active {
  
}

nav a img {
  height: 100%;
}


/*MAIN*/

main {
  background-color: #f7ebe8;
  grid-area: main;
}


/*WIDGETS*/

.widget-container-full,
.widget-container-half {
  width: 95vw;
}


/*MEDIA QUERIES*/

@media (min-width: 768px) {
  .grid {
    grid-template-columns: 55px 1fr;
    grid-template-areas: 
      "header header" 
      "nav main";
  }

  .traffic,
  .social {
    grid-column: 1 / span 2;
  }

  .daily,
  .members,
  .message {
    grid-column: 1 / span 1;
  }

  .mobile,
  .activity,
  .settings {
    grid-column: 2 / span 1;
  }

  .widget-container-full {
    width: 90vw;
  }

  .widget-container-half {
    width: 45vw;
  }
}