/*****************/
/*GLOBAL SETTINGS*/
/*****************/
* {
	box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f7ebe8;
}

.profile-image {
  border-radius: 50%;
  margin: 10px 10px;
  height: 50px;
}

.member .profile-image,
.new-member .profile-image {
  margin-top: 0;
}

h3 {
  text-transform: uppercase;
  font-weight: 400;
  color: #444140;
  font-size: 16px;
}

/***************/
/*GRID SETTINGS*/
/***************/
.grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  grid-template-areas: 
    "header" 
    "nav" 
    "main";
}


/********/
/*HEADER*/
/********/
header {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  grid-area: header;
  background-color: #444140;
  padding-bottom: 10px;
}

header h1 {
  flex: 0 0 100%;
  text-align: center;
}

header h1 > span {
  font-weight: 100;
}

.bell {
  padding-right: 15px;
  border-right: solid 3px #1e1e24;
}

.bell svg {
  height: 35px;
}

.member-main {
  display: flex;
  align-items: center;
}


/*****/
/*NAV*/
/*****/
nav {
  display: flex;
  background-color: #1e1e24;
  grid-area: nav;
}

nav a {
  margin: 10px auto;
  height: 30px;
}

nav a:active {
  
}

nav a img {
  height: 100%;
}


/******/
/*MAIN*/
/******/
main {
  grid-area: main;
  margin: 10px 0;
}

section {
  border-top: solid 1px #444140;
  padding: 0 5px;
  margin: 20px 0;
}

.traffic {
  border: none;
  margin-top: 10px;
}


/*ALERT*/
.alert {
  margin: 0 10px;
}

.alert-banner {
  background-color: #444140;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.alert-banner-desktop {
  display: none;
}

.alert-banner p:first-child {
  margin-top: 0;
}

.alert-banner-desktop,
.alert-banner-mobile {
  margin: 0;
}


/*MAIN HEADER*/
.main-header {
  display: flex;
  flex-flow: wrap;
  margin: 0 10px;
}

.title {
  flex: 0 0 100%;
  text-align: center;
  order: 1;
  margin-bottom: 10px;
}

.main-header-search {
  flex: 0 0 100%;
  border: solid 1px #444140;
  border-radius: 5px;
  padding: 10px;
  margin: 10px auto 30px;
  background-color: white;
}

.search-bar {
  border-style: none;
  margin-left: 5px;
  width: 87%;
  padding: 0;
}

.search-icon {
  border-style: none;
  background-color: white;
  float: right;
}


/*TIMEZONE*/
.form-field {
  width: 100%;
}


/*********/
/*WIDGETS*/
/*********/
.widget-container-full,
.widget-container-half {
  
}

/*TRAFFIC*/
fieldset {
  margin: 0 0 10px;
  border: none;
}

fieldset label {
  font-size: 12px;
}


/*SOCIAL STATS*/
.social-media {
  height: 50px;
}


/*MEMBERS*/
.new-member,
.member {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: solid 1px rgba(68, 65, 64, 0.5);
}

.new-member:last-child,
.member:last-child {
  border: none;
  margin-bottom: 30px;
}

.member-info {
  flex: 0 0 100%;
  order: 1;
}

.member-info > p {
  margin: auto;
}

.member-info > a {
  font-size: smaller;
}

.new-member > p {
  font-size: smaller;
}

.switch-toggle.switch-ios {
  background-color: inherit;
  border: none;
  box-shadow: none;
}

/***************/
/*MEDIA QUERIES*/
/***************/
@media (min-width: 768px) {
  .grid {
    grid-template-columns: 55px 1fr;
    grid-template-areas: 
      "header header" 
      "nav main";
  }

  .traffic,
  .social {
    grid-column: 1 / span 2;
  }

  .daily,
  .members,
  .message {
    grid-column: 1 / span 1;
  }

  .mobile,
  .activity,
  .settings {
    grid-column: 2 / span 1;
  }

  .widget-container-full {
    width: 90vw;
  }

  .widget-container-half {
    width: 45vw;
  }

  .alert-banner {
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 20px;
  }

  .alert-banner p:first-child {
    margin: 10px 0;
  }

  .alert-banner-desktop {
    display: block;
  }

  .alert-banner-mobile {
    display: none;
  }
}